.hero__content
  .hero__content-container
    .hero__search-bar-padding
      .hero__search-bar--combined
        %a#machine-only.hero__search-button-top-left{ class: params[:category] == "machine-only" ? "selected" : "" }
          Machine Only
        %a#with-operator.hero__search-button-top-right{ class: params[:category] == "machine-and-operator" ? "selected" : "" }
          Machine &amp; Operator
    .hero__search-bar-padding
      - combined_mode = search_mode == 'keyword_and_location_search' ? '--combined' : ''
      %form{:action => "/s", :class => "hero__search-bar#{combined_mode}", :id => "hero__hero__0__search-form", :method => "get"}
        %div{:class => "hero__search-input-container#{combined_mode}"}
          %button{:class => "hero__search-icon#{combined_mode}", :type => "submit"}
            %svg.hero__search-icon-svg{:version => "1.1", :viewbox => "27 19 22 22", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %g#icon_search{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1", :transform => "translate(38.000000, 30.000000) scale(-1, 1) translate(-38.000000, -30.000000) translate(28.000000, 20.000000)"}
                %path#line{:d => "M14.6666667,14.6666667 L19.3254458,19.3254458", :stroke => "#525961", "stroke-width" => "2"}
                %circle#Oval{:cx => "8", :cy => "8", :r => "8", :stroke => "#525961", "stroke-width" => "2"}
          / - if search_mode == "keyword_and_location_search"
          /  - # if false
          %input.hero__keyword-search-input--combined{:name => "q", :placeholder => "Search....", :type => "search", :value => params[:q] ? params[:q] : "" }/
          %input.hero__location-search-input--combined{:name => "lq", :placeholder => "Location", :type => "search", :value => params[:lq] ? params[:lq] : "" }/
          / - else
          /   %input.hero__search-input{:name => "q", :placeholder => "Search....", :type => "search"}/
        %button{:class => "hero__search-button hero__search-button#{combined_mode}", :type => "submit"}= "Search"
        / - if search_mode == "location_search" || search_mode == "keyword_and_location_search"
        %input{:name => "ls", :type => "hidden"}/
        %input{:name => "lc", :type => "hidden"}/
        %input{:name => "boundingbox", :type => "hidden"}/
        %input{:name => "distance_max", :type => "hidden"}/
        %input{:name => "category", :type => "hidden"}/
        %input{:name => "search_radius", :type => "hidden"}/

