%section#categories__categories__4.categories__section
  .categories__content
    %h1.categories__title Categories
    .categories__paragraph--markdown
    .categories__categories
      .categories__category--7
        %a{:href => "/s?category=heavy-machinery"}
          .categories__categories__4__categories__category-content.categories__category-content{:style => "background-image: url(/landing_page/cat-heavy-machinery.jpg)"}
            %h3.categories__category-title Heavy Machinery
      .categories__category--7
        %a{:href => "/s?category=implements-and-attachments"}
          .categories__categories__4__categories__category-content.categories__category-content{:style => "background-image: url(/landing_page/cat-implements.jpg)"}
            %h3.categories__category-title Implements &amp; Attachments
      .categories__category--7
        %a{:href => "/s?category=trailers"}
          .categories__categories__4__categories__category-content.categories__category-content{:style => "background-image: url(/landing_page/cat-trailer.jpg)"}
            %h3.categories__category-title Trailers.
      .categories__category--7
        %a{:href => "/s?category=livestock-equipment"}
          .categories__categories__4__categories__category-content.categories__category-content{:style => "background-image: url(/landing_page/cat-livestock.jpg)"}
            %h3.categories__category-title Livestock Equipment.
      .categories__category--7
        %a{:href => "/s?category=atv-and-4wd"}
          .categories__categories__4__categories__category-content.categories__category-content{:style => "background-image: url(/landing_page/cat-atv.jpg)"}
            %h3.categories__category-title ATV &amp; 4WD
      .categories__category--7
        %a{:href => "/s?category=tools"}
          .categories__categories__4__categories__category-content.categories__category-content{:style => "background-image: url(/landing_page/cat-tools.jpg)"}
            %h3.categories__category-title Tools.
      .categories__category--7
        %a{:href => "/s?category=other-stuff"}
          .categories__categories__4__categories__category-content.categories__category-content{:style => "background-image: url(/landing_page/cat-drone.jpg)"}
            %h3.categories__category-title Other Stuff
    %a.categories__categories__4__categories__button--ghost.categories__button--ghost{:href => "/s?category=all"} All categories
%footer#footer__footer__5.footer__container--dark
  .footer__content
    .footer__links-container
      %ul.footer__link-list
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/about"} About
        %li.footer__link-list-item
          %a.footer__link{:href => "/user_feedbacks/new"} Contact us
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/how_to_use"} How it works
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/terms"} Terms
        %li.footer__link-list-item
          %a.footer__link{:href => "/infos/privacy"} Privary
        %li.footer__link-list-item
          %a.footer__link{:href => "/invitations/new"} Invite new members
        %li.footer__link-list-item
          %a.footer__link{:href => "https://medium.com/farm-r", :target => "_blank"} Blog
      .footer__social-media
        %a.footer__social-media-link{:href => "https://www.facebook.com/teamfarmr/", :rel => "noreferrer", :target => "_blank"}
          %svg.footer__social-media-icon.footer__facebook-icon{:version => "1.1", :viewbox => "0 0 12 22", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %path#Facebook{:d => "M7.78896556,22 L7.78896556,11.9648254 L11.3270218,11.9648254 L11.8567155,8.05386965 L7.78896556,8.05386965 L7.78896556,5.55689722 C7.78896556,4.42458426 8.11918279,3.65297638 9.8247272,3.65297638 L12,3.65200544 L12,0.15408855 C11.623687,0.106512375 10.3324948,0 8.83030221,0 C5.69405446,0 3.54703063,1.82255587 3.54703063,5.16968541 L3.54703063,8.05386965 L0,8.05386965 L0,11.9648254 L3.54703063,11.9648254 L3.54703063,22 L7.78896556,22 Z", "fill-rule" => "evenodd", :stroke => "none"}
        %a.footer__social-media-link{:href => "https://twitter.com/aFarm_r", :rel => "noreferrer", :target => "_blank"}
          %svg.footer__social-media-icon.footer__twitter-icon{:version => "1.1", :viewbox => "48 2 21 18", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %path#Twitter{:d => "M68.4207941,2.33276729 C67.5875898,2.8529685 66.6669159,3.23129666 65.6828825,3.43372529 C64.8990201,2.55134408 63.778736,2 62.5384615,2 C60.1610819,2 58.2317037,4.03466726 58.2317037,6.54397488 C58.2317037,6.90038768 58.2687101,7.24584281 58.3427229,7.57861011 C54.7620751,7.38886931 51.5879369,5.58200634 49.4617521,2.829323 C49.0905668,3.50293166 48.8786212,4.28438691 48.8786212,5.11659351 C48.8786212,6.69219186 49.6389341,8.08323988 50.7956639,8.89814488 C50.0902998,8.87622953 49.4247457,8.66976387 48.8427362,8.33180609 L48.8427362,8.38717119 C48.8427362,10.5896639 50.3280378,12.427093 52.3005901,12.8429079 C51.9394975,12.9496011 51.5582196,13.003236 51.165167,13.003236 C50.8876191,13.003236 50.6167997,12.9755535 50.3543908,12.9224953 C50.9027581,14.7270514 52.4929111,16.0413957 54.3785545,16.0765756 C52.9044669,17.2957611 51.0457373,18.022428 49.0277681,18.022428 C48.6801324,18.022428 48.3364216,18.0016661 48,17.9601423 C49.9063893,19.2473807 52.1721891,20 54.6045177,20 C62.530051,20 66.8626011,13.0770562 66.8626011,7.07167345 C66.8626011,6.87385858 66.8592369,6.67662042 66.8519478,6.48284259 C67.6935626,5.84210695 68.424719,5.04219666 69,4.13097946 C68.228473,4.49200602 67.3975115,4.7365352 66.5261795,4.84611195 C67.4160147,4.28438691 68.0989507,3.39393163 68.4207941,2.33276729", "fill-rule" => "evenodd", :stroke => "none"}
        %a.footer__social-media-link{:href => "https://www.instagram.com/teamfarmr/", :rel => "noreferrer", :target => "_blank"}
          %svg.footer__social-media-icon.footer__instagram-icon{:viewbox => "397 291 22 21", :xmlns => "http://www.w3.org/2000/svg"}
            %path#Instagram{:d => "M411.714 301.43c0 1.887-1.54 3.427-3.428 3.427-1.89 0-3.43-1.54-3.43-3.428 0-1.89 1.54-3.43 3.43-3.43 1.888 0 3.428 1.54 3.428 3.43zm1.85 0c0-2.92-2.36-5.278-5.278-5.278-2.92 0-5.277 2.357-5.277 5.277 0 2.918 2.356 5.275 5.276 5.275s5.277-2.357 5.277-5.276zm1.445-5.493c0-.683-.55-1.232-1.233-1.232s-1.232.55-1.232 1.232c0 .684.55 1.233 1.232 1.233.683 0 1.232-.55 1.232-1.233zm-6.724-2.946c1.5 0 4.714-.12 6.067.416.468.188.817.415 1.178.777.363.362.59.71.778 1.18.536 1.35.415 4.566.415 6.066s.12 4.713-.415 6.066c-.187.468-.415.816-.777 1.178-.36.362-.71.59-1.177.777-1.353.537-4.567.416-6.067.416s-4.715.12-6.067-.415c-.47-.187-.818-.414-1.18-.776-.36-.362-.59-.71-.777-1.178-.535-1.353-.415-4.567-.415-6.067s-.12-4.716.415-6.068c.188-.47.416-.817.777-1.18.362-.36.71-.588 1.18-.776 1.35-.535 4.566-.415 6.066-.415zm10.285 8.44c0-1.42.015-2.827-.066-4.247-.08-1.647-.455-3.107-1.66-4.312-1.206-1.205-2.665-1.58-4.313-1.66-1.418-.08-2.825-.067-4.244-.067-1.42 0-2.826-.014-4.246.067-1.647.08-3.107.455-4.312 1.66-1.206 1.206-1.58 2.666-1.66 4.313-.08 1.42-.068 2.826-.068 4.246 0 1.418-.013 2.824.067 4.244.08 1.647.455 3.107 1.66 4.313 1.206 1.205 2.666 1.58 4.313 1.66 1.42.08 2.826.067 4.246.067 1.42 0 2.826.014 4.245-.067 1.65-.08 3.108-.455 4.314-1.66 1.205-1.206 1.58-2.666 1.66-4.313.08-1.42.067-2.826.067-4.245z", "fill-rule" => "evenodd", :stroke => "none"}
        %a.footer__social-media-link{:href => "https://www.youtube.com/channel/UCEL5rkjPgxxFfO5obvsiK6A", :rel => "noreferrer", :target => "_blank"}
          %svg.footer__social-media-icon.footer__youtube-icon{:viewbox => "97 3 25 18", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M114.143 12.43c0 .293-.147.574-.402.722l-6.856 4.285c-.134.094-.295.134-.455.134-.15 0-.283-.04-.417-.106-.267-.147-.442-.442-.442-.75v-8.57c0-.31.176-.604.443-.75.268-.148.603-.148.87.026l6.858 4.285c.256.148.403.43.403.724zm6.857 0c0-1.917 0-3.952-.415-5.814-.295-1.312-1.34-2.277-2.598-2.424-2.974-.335-5.987-.335-8.987-.335s-6.013 0-8.987.335c-1.26.147-2.29 1.112-2.584 2.424C97 8.478 97 10.513 97 12.43c0 1.914 0 3.95.415 5.81.295 1.314 1.34 2.278 2.598 2.425C102.987 21 106 21 109 21s6.013 0 8.987-.335c1.26-.147 2.303-1.11 2.584-2.424.43-1.86.43-3.896.43-5.81z", "fill-rule" => "evenodd"}
    %hr.footer__separator/
    .footer__copyrights--markdown
      %p Copyright Farm-r
      / Begin MailChimp Signup Form
      %link{:href => "//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css", :rel => "stylesheet", :type => "text/css"}/
      :css
        #mc_embed_signup{background:#525961; clear:left; font:14px Helvetica,Arial,sans-serif}
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      #mc_embed_signup
        %form#mc-embedded-subscribe-form.validate{:action => "//farm-r.us13.list-manage.com/subscribe/post?u=a2914ea6986f8db901844a0ee&id=24709d0f79", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
          #mc_embed_signup_scroll
            %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
            / real people should not fill this in and expect good things - do not remove this or risk form bot signups
            %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
              %input{:name => "b_a2914ea6986f8db901844a0ee_24709d0f79", :tabindex => "-1", :type => "text", :value => ""}/
            .clear
              %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
      / End mc_embed_signup
