= inline_svg "svg_icons/powered_by_stripe_small.svg", class: "animated", height: "50px"

= inline_svg "svg_icons/master-visa-amex.svg", class: "animated", size: "168*50px"

= link_to "Help", about_infos_path(:anchor => "payments")